     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }

     a {
         text-decoration: none;
         color: blue;
     }

     img {
         cursor: pointer;
     }

     input {
         margin: 10px;
         /* background-color: transparent; */
     }

     input:hover {
         border: 1px solid red;
         size: 100px;
     }

     .submit:hover{
        border: 1px solid red;
    }

     .flex-div {
         display: flex;
         align-items: center;
     }

     nav {
         padding: 10px;
         justify-content: space-between;
         background-color: red;
         top: 0;
         z-index: 10;
         position: sticky;
     }

     .nav-left a img {
         width: 70px;
         border-radius: 50%;
     }

     .nav-right img {
         width: 35px;
         border-radius: 50%;
     }

     .nav-middle .company_name {
         font-size: 25px;
         font-weight: 600;
     }

     .container {
         width: 90%;
         height: 400px;
         padding-left: 40%;
         padding-right: 40%;
         padding-top: 150px;
         background-image: url(../static/banner.jpg);
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
         background-color: transparent;
         margin-left: 65px;
     }

     form {
         width: 200px;
         height: 100px;
     }

     .output {
         width: 500px;
         text-align: center;
         padding-top: 10px;
         margin-left: auto;
         margin-right: auto;
         margin-top: 50px;
         background-color: whitesmoke;
     }


     .row {
         display: flex;

     }

     .col-left {
         flex-basis: 50%;
         text-align: right;
         color: black;
         font-weight: 600;
     }

     .col-right {
         flex-basis: 50%;
         text-align: left;
     }
