<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="1"0> -->
    <script src="https://kit.fontawesome.com/18074293e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>DJ </title>
</head>
<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
          <a href="/"><img src="../static/logo.jpg" /></a>
        </div>
        <nav class="nav-middle">
          <p class="company_name">Traveler's Guide</p>
        </nav>
        <div class="nav-right">
          <img src="../static/profile.jpg" />
        </div>
      </nav>
    {%block content %}
    {%endblock content %}
</body>
</html>