{%extends "base.html"%}

{%block content%}
<a href="/">Home</a>
<div class="output">
    <h2>Details</h2>
    <div class="destination row">
        <div class="col-left"> Destination : </div>
        <div class="col-right">{{responses['destination_addresses'][0]}}</div>
    </div>
    <div class="origin row">
        <div class="col-left"> Origin : </div>
        <div class="col-right"> {{responses['origin_addresses'][0]}}</div>
    </div>
    <div class="distance row">
        <div class="col-left"> Distance :</div>
        <div class="col-right"> {{responses['rows'][0]['elements'][0]['distance']['text']}}</div>
    </div>
    <div class="duration row">
        <div class="col-left"> Duration :</div>
        <div class="col-right">  {{responses['rows'][0]['elements'][0]['duration']['text']}}</div>
    </div>
</div>

<style>
    .output{
        border: 1px solid black;
        background-color: rgb(209, 24, 55);
        width: 400px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .destination{
        color: whitesmoke;
    }
    .origin{
        color: whitesmoke;
    }
    .distance{
        color: whitesmoke;
    }
    .duration{
        color: whitesmoke;
    }
    .row{
        display: flex;
        
    }
    .col-left{
        flex-basis: 50%;
        text-align: right;
    }
    .col-right{
        flex-basis: 50%;
        text-align: left;
    }
</style>


{%endblock content%}