{%extends "base.html"%}

{%block content%}
<div class="output">
    <h2>Travel Details</h2>
    <div class="desti row">
        <div class="col-left"> Destination&nbsp:&nbsp</div>
        <div class="col-right">&nbsp{{responses[0]['destination_addresses'][0]}}</div>
    </div>
    <div class="orig row">
        <div class="col-left"> Origin&nbsp:&nbsp</div>
        <div class="col-right">&nbsp{{responses[0]['origin_addresses'][0]}}</div>
    </div>
    <div class="distance row">
        <div class="col-left"> Distance&nbsp:</div>
        <div class="col-right">&nbsp{{responses[0]['rows'][0]['elements'][0]['distance']['text']}}</div>
    </div>
    <div class="duration row">
        <div class="col-left"> Duration&nbsp:&nbsp</div>
        <div class="col-right">&nbsp{{responses[0]['rows'][0]['elements'][0]['duration']['text']}}</div>
    </div>
</div>

<!-- <p>{{responses[1]["image_results"][1]["thumbnail"]}}</p> -->
<!-- <img src="{{responses[1]['image_results'][1]['thumbnail']}}"> -->


{%endblock content%}